<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://kit.fontawesome.com/b4c47d717c.js" crossorigin="anonymous"></script>
    <title>MySite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
